* {   
	margin:0;
	padding: 0;
}

body{   
	font-family:Arial, Helvetica, sans-serif;
}
	  
a{  
	text-decoration:none;
}
 
img{
	width:100%; /*por defeito as imagens são redimensionadas à altura*/
	padding:0;
}

@keyframes colorir-agora{
	from {
		background:yellow;
		border:4px solid #000;
		border-radius:0;
	}
	to {
		background:red;
		border:1px solid #000;
		border-radius:250px;
	}
}

/*------------------------------------------ elementos de posicionamento------------------------------------------- */

/*no bootstrap há mt,mr,mb,ml - as 4 margens, e os tamanhos 0-5 são pré-definidos entre 0-40px*/
/*tb há pt,pr,pb,pl - os 4 paddings entre 0-5*/  
/*m-5 e p-5 são 40px a toda a volta*/
/*um item com m-auto empurra os outros itens para longe*/
/*float-left e float-right são classes bstrap, q se podem incluir num contentor clearfix*/
/*em bootstrap temos w-25,w-50,w-75 e w-100=w-auto e h-25,h-50,h-75,h-100 e h-auto=min-height*/
 
/*toda a flexbox flutua - nunca pode ter posicionamento relativo, mas pode tê-lo absoluto*/
/*sempre height:auto para ficar responsivo - só depois customizar as media queries para tirar conteúdos do mobile*/
/*media queries bem construídas dispensam o overflow hiddden*/

header{
	width:100%;
	height:440px auto;
	padding-left:45px; 
	padding-right:50px;
	background:linear-gradient(to bottom,#FCBB07,#FEC403);
	
}

header nav{
	min-height:40px;
	height:auto;
}

#img1{
	width:40%;
}

/*.img2{
	width:14px;
	height:14px;
	margin-bottom:5px;
}*/

#img3{
	width:80%;
}

#img4{
	width:98%;
}

#img5{
	width:90%;
}

.img6{
	width:96%;
}

.img7{
	width:30px;
	height:30px;
	margin-bottom:5px;
}

.row1{  
	padding-left:15px; 
	min-height:300px;
	height:auto;
}

.row2{   
	padding-left:60px;
	padding-right:50px;/*10px a menos é a largura do scroll*/
	min-height:400px;
	font-size:0.8em;
	height:auto;
}

.row3{   
	padding-left:60px;
	min-height:600px;
	font-size:0.8em;
	height:auto;
}

.row4{  
	padding-left:60px;
	padding-right:50px; 
	min-height:320px;
	font-size:0.8em;
	height:auto;
}

/*.espaco{
	height:50px;
}*/

.myform1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.9em;
}

/*.myform1 .myformgroup{
	width:450px;  
}*/

footer{   
	width:100%;
	min-height:60px;
	padding-left:60px; 
	padding-right:50px;
	height:auto;
}

footer nav{
	height:60px;
}
 
/* ----------------------------------------------elementos de detalhe---------------------------------------------- */
 
header nav ul{   
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.8em;
}

header nav a{
	font-family: Arial, Helvetica, sans-serif;
	color:#8D671D;
}

/*header nav a .login{
	display:block;
	width:64px;
	height:26px;
	padding-top:2px;
	color:#fff;
	border:1px solid #fff;
	border-radius:2px;
	text-align:center;
}*/

header nav a .login{
	font-size:0.8em;
}

header nav a:hover{
	color:#5C3B02;
}

header .row1 a{
	display:block;
	width:32px;
	height:26px;
	border:1px solid #fff;
	border-radius:2px;
	overflow:hidden;
}

/*header .legenda{
	position:absolute;
	color:#fff;
	background:rgba(245,245,245,0.1);
	left:9%;
	bottom:11%;
	z-index:100; 
}

header a:active{
	color:
	background:	
}
header a:visited{
	color:
	background:	
}*/

hr{
	color:#F5F5F5;
}

/*#botao{
	background:#978C64;
	border:none;
	padding:10px;
	display:block;
	width:100%;
	color:#fff;
	font-weight:800;
	font-size:
	margin:
}

#botao:hover{
	display:
	width:
	height:
	background:
	color:
	transition:width 2s,background 3s;  
	/*ou transition:all 3s;*/ 
	/*animation-name:colorir-agora;
	animation-duration:4s;
	animation-delay:3s; /*tempo antes de começar*/ 
	/*animation-iteration-count:2;
	animation-direction:normal; /*normal|reverse|alternate|alternate-reverse*/ 
	/*animation:colorir-agora 4s 3s 2 normal;	
}*/

header h1{  
	line-height:1.1em;
}

footer nav ul{   
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.8em;
}

footer nav a{
	font-family: Arial, Helvetica, sans-serif;
}

.row2 h4,.row3 h4,.row4 h5{
	font-weight:600;
}

.texto1{  
	font-size:0.8em;
}

#letra1{  /*tipo de letra*/
	font-family:
	font-size:0.8em;
	text-shadow: 2px 2px 4px #000000; 
	/*horizontal, vertical, desfocagem de 4px, cor*/
}
 
#color1{  /*cores de texto*/
	color:#FFF;
	text-indent:30px;
}

#color2{  /*cores de texto*/
	color:#FFEC8B;
	padding:30px;
}